<div class="row">
  <div class="col p-0 nav-col">
    <div class="container-fluid navContainer">
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
        <a class="navbar-brand" href="#"
          ><img src="/images/imgs/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if(!isLoggedIn) { %>
            <li class="nav-item <%= title === 'home' ? 'active' : '' %>">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= title === 'courses' ? 'active' : '' %>">
              <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li class="nav-item <%= title === 'gellary' ? 'active' : '' %>">
              <a class="nav-link" href="/gellary">Gallery</a>
            </li>
            <li class="nav-item <%= title === 'Staff' ? 'active' : '' %>">
              <a class="nav-link" href="/Staff">Staff</a>
            </li>
            <li class="nav-item <%= title === 'notice' ? 'active' : '' %>">
              <a class="nav-link" href="/notification">Notice</a>
            </li>
            <li class="nav-item <%= title === 'placement' ? 'active' : '' %>">
              <a class="nav-link" href="/placement">Placements</a>
            </li>
            <li class="nav-item <%= title === 'fees' ? 'active' : '' %>">
              <a class="nav-link" href="/fees">Fees</a>
            </li>
            <li class="nav-item <%= title === 'downloads' ? 'active' : '' %>">
              <a class="nav-link" href="/downloads">Downloads</a>
            </li>
            <li class="nav-item <%= title === 'contact' ? 'active' : '' %>">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item <%= title === 'contact' ? 'active' : '' %>">
              <a class="nav-link" href="/login">login</a>
            </li>
            <% } else { %>

            <li class="nav-item <%= title === 'notice' ? 'active' : '' %>">
              <a class="nav-link" href="/admin/add-notification">Add Notice</a>
            </li>
            <li class="nav-item <%= title === 'notice' ? 'active' : '' %>">
              <a class="nav-link" href="/admin/add-courses">Add Course</a>
            </li>
            <li class="nav-item <%= title === 'notice' ? 'active' : '' %>">
              <a class="nav-link" href="/admin/upload">Add Gellary</a>
            </li>
            <li class="nav-item <%= title === 'notice' ? 'active' : '' %>">
              <a class="nav-link" href="/logout">logout</a>
            </li>

            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
