<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <header class="contactHeader">
      <div class="container-fluid navContainer">
        <%- include('../includes/navigation.ejs') %>
      </div>
  </header>
    <section id="courses">
      <div class="container-fluid">
        <div class="row">
          <div class="col p-0">
            <div class="bg">
              <div class="text">
                <h1>
                  guru nanak dev institute of
                  <span class="tech">technology</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="container sectionSpace">
          <% for(let department of departments) { %>
            <div class="row">
              <div class="col">
                <div class="underline">
                  <h1 class="heading"><%= department.department %></h1>
                </div>
              </div>
            </div>

            <div class="row">
            
              <% for(let course of department.course) { %>
            

                        <div class="col-md-4">
                          <div class="card">
                            <div class="cardContainer">
                              <div class="card-img">
                                <img
                                  class="img-fluid"
                                  src="<%= course.imgUrl %>"
                                  alt=""
                                />
                              </div>
                              <div class="cardBody">
                                <h3 class="brach"><%= course.title %></h3>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                    <div class="data">
                                      <p class="key">Seats</p>
                                      <p class="value"><%= course.seats %></p>
                                    </div>
                                  </li>
                                  <li class="list-group-item">
                                    <div class="data">
                                      <p class="key">Shift</p>
            
                                      <p class="value"><%= course.shift %></p>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    
               
            <% } %>
            
            </div>

            <% } %>
         
        </div>
      </div>


    </section>

    <%- include('../includes/footer.ejs') %>

   
  </body>
</html>
